 <p>Framework: {{ favoriteFramework }}</p>
    <label for="framework">
      Favorite Framework:
      <input id="framework" type="text" class="border-5" [(ngModel)]="favoriteFramework" />
    </label>
     <br><button (click)="showFramework()" class="bg-blue-300 px-5 py-[20px] mt-5 rounded-md">Show Framework</button>

     <br>
      <form>
      <label>Name
        <input type="text"  class="border-5"/>
      </label>
      <label>Email
        <input type="email" class="border-5"/>
      </label><br>
      <button type="submit" class="bg-blue-300 px-5 py-[20px] mt-5 rounded-md">Submit</button>
    </form>
<!-- form group -->
    <form [formGroup]="profileForm" (ngSubmit)="handleSubmit()">
  <label>
    Name
    <input type="text" formControlName="name" />
  </label>
  <label>
    Email
    <input type="email" formControlName="email" />
  </label>
  <!-- disabled is use to hide information  -->
  <button [disabled]="!profileForm.valid" type="submit" class="bg-cyan-500 px-5 py-2 ">Submit</button>
</form>

<!-- Handle update to the form -->
 ...
<h2>Profile Form</h2>
<p>Name: {{ profileForm.value.name }}</p>
<p>Email: {{ profileForm.value.email }}</p>
 
 <button (click)="logMessage()" class="bg-cyan-500 px-5 py-2 ">Show Log</button>
 <h1>{{loggerMessage()}}</h1>
 <h1 class="text-blue-600">{{ loudMessage | uppercase }}</h1>
 <p>Price: {{ price | currency }}</p>   
 <p>Date: {{ today | date:'fullDate' }}</p>

<!-- reverse pipe -->
 <h1>Reverse Machine: {{word() | reverse }}</h1>
 @let user = user$ | async;

 <!-- async is a pipe used in templates to work with asynchronous data like:

Observable<T>

Promise<T> -->
    
    <!-- why we need asyn 
    1. Data is often asynchronous
    2. async makes it easy to bind observable data to the template
    3.   🚫 Avoid memory leaks -->
    @if (user) {
  <p>Name: {{ user.name }}</p>
  <p>Age: {{ user.age }}</p>
}
<div [ngStyle]="currentStyles">Styled Text</div>
    <button (click)="setCurrentClasses()" class="bg-cyan-500 px-5 py-2">Apply Styles</button>
    <!-- ngModel=value -->
     
    <div>
        <br>
  Pick your favorite hero
  (<label for="showSad"><input id="showSad" type="checkbox" checked (change)="showSad = !showSad">show sad</label>)
</div>
<select [(ngModel)]="hero" class="border-5">
    @for (h of heroes; track h){
        @if (showSad || h.emotion !== 'sad'){
               <option [ngValue]="h">{{ h.name }} ({{ h.emotion }})</option>
        }
    }

</select>
<!-- Directive test -->
 <p appHighlight="color">Highlight me!</p>
  <input [(ngModel)]="color" placeholder="Type a color like red or #ff0" />
    <p [appHighlight]="color">Hover me for your custom color!</p>
<h1 class="font-bold text-3xl">Testing Mouse Enter</h1>
    <h1>My First Attribute Directive</h1>
<h2>Pick a highlight color</h2>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
 
</div>
@if(color=='lightgreen'){
  <br><h1 appHighlight=" " [textColor]="color" class="font-bold">Hello Green World</h1>
}
@else if (color=='yellow') {
  <br><h1 appHighlight=" " [textColor]="color" class="font-bold">Hello Yellow World</h1>
}
@else {
   <br><h1 appHighlight=" " [textColor]="color" class="font-bold">Hello cyan World</h1>
}
<p [appHighlight]="color" defaultColor="Green" textColor="white">Highlight me!</p>

<!-- test structure Directive -->

<!-- Show if true -->
<div *select="isVisible">This will only be shown if isVisible is true</div>
<!-- if we click first isVisible will be fail second click will be true -->
<button (click)="isVisible = !isVisible" class="px-4 py-2 bg-blue-500 text-white text-sm rounded hover:bg-blue-600 transition">
  Toggle Visibility
</button>

<!-- <ng-template [selectFrom]="heroe" [selectWhen]="isHappy" let-hero> -->
<h1>Generic *select with &lt;select&gt; element</h1>

    <label>
      Show only happy heroes?
      <input type="checkbox" [(ngModel)]="onlyHappy">
    </label>

    <select [(ngModel)]="selectedHero" class="border-5">
      <option *select="let hero from heroe when filterHeroes">
        {{ hero.name }} ({{ hero.emotion }})
      </option>
    </select>

    <p>Selected hero: {{ selectedHero?.name || 'None' }}</p>




  